<section id="section-cars">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h2>Araç Filomuz</h2>
                <p>Hayallerinizi gerçeğe dönüştüren, unutulmaz yolculuklar için seçkin ve çok yönlü araç filomuzu keşfedin.</p>
                <div class="spacer-20"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div id="items-carousel-alt-2" class="owl-carousel wow fadeIn">

                <div class="col-lg-12">
                    <div class="de-item alt-2 mb30">
                        <div class="d-img">
                            <img src="/RentalyHTML/images/cars-alt/jeep-renegade.png" class="img-fluid" alt="">
                        </div>
                        <div class="d-info">
                            <div class="d-text">
                                <h4>Jeep Renegade</h4>
                                <div class="d-item_like">
                                    <i class="fa fa-heart"></i><span>74</span>
                                </div>
                                <div class="d-atr-group">
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/1-green.svg" alt="">5</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/2-green.svg" alt="">2</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/3-green.svg" alt="">4</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/4-green.svg" alt="">SUV</span>
                                </div>
                                <div class="d-price">
                                    Günlük kira bedeli: <span>$265</span>'den başlayan fiyatlarla
                                    <a class="btn-main" href="02_dark-car-single.html">Hemen Kirala</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="de-item alt-2 mb30">
                        <div class="d-img">
                            <img src="/RentalyHTML/images/cars-alt/bmw-m5.png" class="img-fluid" alt="">
                        </div>
                        <div class="d-info">
                            <div class="d-text">
                                <h4>BMW M2</h4>
                                <div class="d-item_like">
                                    <i class="fa fa-heart"></i><span>36</span>
                                </div>
                                <div class="d-atr-group">
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/1-green.svg" alt="">5</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/2-green.svg" alt="">2</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/3-green.svg" alt="">4</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/4-green.svg" alt="">Sedan</span>
                                </div>
                                <div class="d-price">
                                    Günlük kira bedeli: <span>$244</span>'den başlayan fiyatlarla
                                    <a class="btn-main" href="02_dark-car-single.html">Hemen Kirala</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="de-item alt-2 mb30">
                        <div class="d-img">
                            <img src="/RentalyHTML/images/cars-alt/ferrari-enzo.png" class="img-fluid" alt="">
                        </div>
                        <div class="d-info">
                            <div class="d-text">
                                <h4>Ferrari Enzo</h4>
                                <div class="d-item_like">
                                    <i class="fa fa-heart"></i><span>85</span>
                                </div>
                                <div class="d-atr-group">
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/1-green.svg" alt="">5</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/2-green.svg" alt="">2</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/3-green.svg" alt="">4</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/4-green.svg" alt="">Egzotik</span>
                                </div>
                                <div class="d-price">
                                    Günlük kira bedeli: <span>$167</span>'den başlayan fiyatlarla
                                    <a class="btn-main" href="02_dark-car-single.html">Hemen Kirala</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="de-item alt-2 mb30">
                        <div class="d-img">
                            <img src="/RentalyHTML/images/cars-alt/ford-raptor.png" class="img-fluid" alt="">
                        </div>
                        <div class="d-info">
                            <div class="d-text">
                                <h4>Ford Raptor</h4>
                                <div class="d-item_like">
                                    <i class="fa fa-heart"></i><span>59</span>
                                </div>
                                <div class="d-atr-group">
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/1-green.svg" alt="">5</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/2-green.svg" alt="">2</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/3-green.svg" alt="">4</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/4-green.svg" alt="">Kamyonet</span>
                                </div>
                                <div class="d-price">
                                    Günlük kira bedeli: <span>$147</span>'den başlayan fiyatlarla
                                    <a class="btn-main" href="02_dark-car-single.html">Hemen Kirala</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="de-item alt-2 mb30">
                        <div class="d-img">
                            <img src="/RentalyHTML/images/cars-alt/mini-cooper.png" class="img-fluid" alt="">
                        </div>
                        <div class="d-info">
                            <div class="d-text">
                                <h4>Mini Cooper</h4>
                                <div class="d-item_like">
                                    <i class="fa fa-heart"></i><span>19</span>
                                </div>
                                <div class="d-atr-group">
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/1-green.svg" alt="">5</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/2-green.svg" alt="">2</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/3-green.svg" alt="">4</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/4-green.svg" alt="">Hatchback</span>
                                </div>
                                <div class="d-price">
                                    Günlük kira bedeli: <span>$238</span>'den başlayan fiyatlarla
                                    <a class="btn-main" href="02_dark-car-single.html">Hemen Kirala</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="de-item alt-2 mb30">
                        <div class="d-img">
                            <img src="/RentalyHTML/images/cars-alt/vw-polo.png" class="img-fluid" alt="">
                        </div>
                        <div class="d-info">
                            <div class="d-text">
                                <h4>VW Polo</h4>
                                <div class="d-item_like">
                                    <i class="fa fa-heart"></i><span>79</span>
                                </div>
                                <div class="d-atr-group">
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/1-green.svg" alt="">5</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/2-green.svg" alt="">2</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/3-green.svg" alt="">4</span>
                                    <span class="d-atr"><img src="/RentalyHTML/images/icons/4-green.svg" alt="">Hatchback</span>
                                </div>
                                <div class="d-price">
                                    Günlük kira bedeli: <span>$106</span>'den başlayan fiyatlarla
                                    <a class="btn-main" href="02_dark-car-single.html">Hemen Kirala</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>