<section class="text-light jarallax" aria-label="section">
    <img src="/RentalyHTML/images/background/3.jpg" alt="" class="jarallax-img">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1>Maceranız Başlasın</h1>
                <div class="spacer-20"></div>
            </div>
            <div class="col-md-3">
                <i class="fa fa-trophy de-icon mb20"></i>
                <h4>Birinci Sınıf Hizmetler</h4>
                <p>Lüksün üstün özenle buluştuğu; unutulmaz anlar yaratan ve tüm beklentilerinizi aşan bir deneyim.</p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-road de-icon mb20"></i>
                <h4>7/24 Yol Yardımı</h4>
                <p>En çok ihtiyaç duyduğunuz anda güvenilir destek ile yolculuğunuza güven ve huzurla devam edin.</p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-map-pin de-icon mb20"></i>
                <h4>Ücretsiz Teslim Alma & Bırakma</h4>
                <p>Ücretsiz teslim alma ve bırakma hizmetlerimizle araç kiralama deneyiminize ekstra kolaylık katın.</p>
            </div>
        </div>
    </div>
</section>