<section aria-label="section" class="no-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h2>Özelliklerimiz</h2>
                <p>Unutulmaz maceralara ve kesintisiz mobilite çözümlerine giden yolda konfor, güvenlik ve kişiselleştirilmiş hizmet dünyasını keşfedin.</p>
                <div class="spacer-20"></div>
            </div>
            <div class="clearfix"></div>

            <div class="col-lg-3">
                <div class="box-icon s2 p-small mb20 wow fadeInRight" data-wow-delay=".5s">
                    <i class="fa bg-color fa-trophy"></i>
                    <div class="d-inner">
                        <h4>Birinci Sınıf Hizmetler</h4>
                        Lüksün üstün özenle buluştuğu, unutulmaz anlar yaratan ve her beklentinizi aşan bir deneyim.
                    </div>
                </div>
                <div class="box-icon s2 p-small mb20 wow fadeInRight" data-wow-delay=".75s">
                    <i class="fa bg-color fa-road"></i>
                    <div class="d-inner">
                        <h4>7/24 Yol Yardımı</h4>
                        En çok ihtiyaç duyduğunuz anda güvenilir destek ile yolculuğunuza güven ve huzurla devam edin.
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <img src="/RentalyHTML/images/misc/car-2.png" alt="" class="img-fluid wow fadeInUp">
            </div>

            <div class="col-lg-3">
                <div class="box-icon s2 d-invert p-small mb20 wow fadeInLeft" data-wow-delay="1s">
                    <i class="fa bg-color fa-tag"></i>
                    <div class="d-inner">
                        <h4>Uygun Fiyata Kalite</h4>
                        Maksimum değer için maliyetleri düşürürken, kaliteyi artıran ekonomik çözümler sunuyoruz.
                    </div>
                </div>
                <div class="box-icon s2 d-invert p-small mb20 wow fadeInLeft" data-wow-delay="1.25s">
                    <i class="fa bg-color fa-map-pin"></i>
                    <div class="d-inner">
                        <h4>Ücretsiz Teslim Alma & Bırakma</h4>
                        Ücretsiz teslim alma ve bırakma hizmetlerimizle araç kiralama deneyiminize ekstra kolaylık katın.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>