<footer class="text-light">
    <div class="container">
        <div class="row g-custom-x">
            <div class="col-lg-3">
                <div class="widget">
                    <h5>Rentaly Hakkında</h5>
                    <p>Kalitenin uygun fiyatla buluştuğu nokta. Gereksiz maliyetlerin yükü olmadan pürüzsüz ve keyifli bir yolculuğun önemini anlıyoruz. Bu nedenle, size minimum maliyetle birinci sınıf araçlar sunmak için hizmetlerimizi titizlikle hazırladık.</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget">
                    <h5>İletişim Bilgileri</h5>
                    <address class="s1">
                        <span><i class="id-color fa fa-map-marker fa-lg"></i>08 W 36th St, New York, NY 10001</span>
                        <span><i class="id-color fa fa-phone fa-lg"></i>+1 333 9296</span>
                        <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">iletisim@example.com</a></span>
                        <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Broşürü İndir</a></span>
                    </address>
                </div>
            </div>

            <div class="col-lg-3">
                <h5>Hızlı Bağlantılar</h5>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget">
                            <ul>
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Kariyer</a></li>
                                <li><a href="#">Haberler</a></li>
                                <li><a href="#">Ortaklarımız</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget">
                    <h5>Sosyal Medya</h5>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            <a href="index.html">
                                Copyright 2026 - Rentaly | Beyza Rabia Kılıçaslan tarafından geliştirilmiştir.
                            </a>
                        </div>
                        <ul class="menu-simple">
                            <li><a href="#">Şartlar &amp; Koşullar</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>