@model About

<section class="text-light jarallax">
    <img src="@(Model?.ImageUrl ?? "/RentalyHTML/images/background/9.jpg")" class="jarallax-img" alt="">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInRight">
                <h2>@(Model?.Title ?? "Müşterilerimize her ihtiyaca uygun seçenekler sunuyoruz.")</h2>
            </div>
            <div class="col-lg-6 wow fadeInLeft">
                @(Model?.Description ?? "Araç kiralama acentemizde güvenilir hizmet sunuyoruz.")
            </div>
        </div>
        <div class="spacer-double"></div>
        <div class="row text-center">
            <div class="col-md-4 col-sm-6 mb-sm-30">
                <div class="de_count transparent text-light wow fadeInUp">
                    <h3 class="timer" data-to="@Model?.HappyCustomerCount" data-speed="3000">0</h3>
                    Mutlu Müşteri
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-30">
                <div class="de_count transparent text-light wow fadeInUp">
                    <h3 class="timer" data-to="@Model?.CarCount" data-speed="3000">0</h3>
                    Araç Filosu
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-30">
                <div class="de_count transparent text-light wow fadeInUp">
                    <h3 class="timer" data-to="@Model?.ExperienceYear" data-speed="3000">0</h3>
                    Yıllık Deneyim
                </div>
            </div>
        </div>
    </div>
</section>