<!DOCTYPE html>
<html lang="zxx">

    @await Component.InvokeAsync("_LayoutHeadComponentPartial")

<body onload="initialize()" class="dark-scheme">
    <div id="wrapper">

        <div id="de-preloader"></div>
        @await Component.InvokeAsync("_LayoutHeaderComponentPartial")

        <div class="no-bottom no-top" id="content">
            <div id="top"></div>

            @RenderBody()

        </div>

        <a href="#" id="back-to-top"></a>

        @await Component.InvokeAsync("_LayoutFooterComponentPartial")
    </div>

    @await Component.InvokeAsync("_LayoutScriptComponentPartial")
</body>
</html>