<section id="section-testimonials" class="no-top no-bottom">
    <div class="container">
        <div class="row g-4 align-items-center">

            <div class="col-md-4">
                <div class="de-image-text">
                    <div class="d-text">
                        <div class="d-quote id-color"><i class="fa fa-quote-right"></i></div>
                        <h4>Mükemmel Hizmet! Harika Deneyim!</h4>
                        <blockquote>
                            Araç kiralama ihtiyaçlarım için 5 yılı aşkın süredir Rentaly'i kullanıyorum. Hizmetleriyle ilgili şimdiye kadar hiç sorun yaşamadım. Müşteri destek ekipleri her zaman hızlı ve çözüm odaklı. Güvenilir bir araç kiralama sağlayıcısı arayan herkese Rentaly'i tavsiye ederim.
                            <span class="by">Stepanie Hutchkiss</span>
                        </blockquote>
                    </div>
                    <img src="/RentalyHTML/images/testimonial/1.jpg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-md-4">
                <div class="spacer-double sm-hide"></div>
                <div class="spacer-double sm-hide"></div>
                <div class="de-image-text">
                    <div class="d-text">
                        <div class="d-quote id-color"><i class="fa fa-quote-right"></i></div>
                        <h4>Mükemmel Hizmet! Harika Deneyim!</h4>
                        <blockquote>
                            Seyahatlerimiz için uzun yıllardır Rentaly'i tercih ediyoruz ve sundukları hizmetten her zaman memnun kaldık. Müşteri destek ekipleri çok ilgili; herhangi bir sorun yaşadığımızda bize her zaman yardımcı oluyorlar. Ayrıca fiyatları da oldukça rekabetçi.
                            <span class="by">Jovan Reels</span>
                        </blockquote>
                    </div>
                    <img src="/RentalyHTML/images/testimonial/2.jpg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-md-4">
                <div class="spacer-double sm-hide"></div>
                <div class="spacer-double sm-hide"></div>
                <div class="spacer-double sm-hide"></div>
                <div class="spacer-double sm-hide"></div>
                <div class="de-image-text">
                    <div class="d-text">
                        <div class="d-quote id-color"><i class="fa fa-quote-right"></i></div>
                        <h4>Sektörün Güvenilir İsmi!</h4>
                        <blockquote>
                            Sektör uzmanları tarafından da desteklenen Rentaly, güvenebileceğiniz bir araç kiralama çözümüdür. Alanındaki uzun yıllara dayanan deneyimiyle; hızlı, güvenilir ve emniyetli araç kiralama hizmetleri sunuyorlar.
                            <span class="by">Kanesha Keyton</span>
                        </blockquote>
                    </div>
                    <img src="/RentalyHTML/images/testimonial/3.jpg" class="img-fluid" alt="">
                </div>
            </div>

        </div>
    </div>
</section>